/*Channel/Topic Dropdowns*/
button { position: absolute; top: 0; right: 0; }

.channel-topic-dropdowns {
  ul {
    position: relative;
    list-style: none;
    margin: 0 0 10px 0; 
    padding: 0;
    width: 600px;
  }
  &_channels {
    li {
      overflow: hidden;
    }
    ul {
      > li {
        input[type='checkbox'] {
          display:block;
          float: left;
          padding: 6px 12px;
          color:#999;
        }
      }
    }
    label {
      cursor: pointer;
      display: inline-block;
      position: relative;
    }
  }
  &_parent {
    margin-bottom: 10px;
    > input[type='checkbox'] {
      display: none;
    }
    input[type='checkbox'] {
      &:checked {
        ~ .channel-topic-dropdowns_topics {
          height: auto;
          display: block;
        }
        ~ label {
          &:after {
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #7e7e7e;
            border-bottom: none;
            top: 5px;
          }
        }
      }
    }
    > label {
      margin-bottom: 10px;
      &:after {
        content: "";
        width: 0; 
        height: 0; 
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #7e7e7e;
        position: absolute;
        top: 0;
        right: -15px;
      }
    }
  }
  &_topics {
    height: 0;
    display: block;
    overflow: hidden;
    margin-left: 20px;
    li {
      margin-bottom: 5px;
    }
    input[type='checkbox'] {
      margin: 0 10px 0 0;
    }
  }
}
